/2021_cuarto/nbproject/private/
/2021_cuarto/build/
/2021_cuarto/dist/
/2021_5to/nbproject/private/
/2021_5to/build/
/2021_sexto/nbproject/private/
/2021_sexto/build/
/2021_septimo/nbproject/private/
/2021_septimo/build/
/2021_septimo/dist/
/semana5_8avo/nbproject/private/
/proyecto_8avo/nbproject/private/
/proyecto_8avo/build/
/proyecto_8avo/dist/
