/2021_cuarto/nbproject/private/
/2021_cuarto/build/
/2021_cuarto/dist/
/2021_5to/nbproject/private/
/2021_5to/build/
/2021_sexto/nbproject/private/
/2021_sexto/build/
/2021_septimo/nbproject/private/
/2021_septimo/build/
/2021_septimo/dist/
/semana5_8avo/nbproject/private/
/proyecto_8avo/nbproject/private/
/proyecto_8avo/build/
/proyecto_8avo/dist/
/proyecto_Hemy/nbproject/private/
/proyecto_Hemy/build/
/proyecto_Hemy/dist/
/Nueva Carpeta/detalle_sql/nbproject/private/
/Nueva Carpeta/detalle_sql/build/
/Nueva Carpeta/clase_ejemplo/nbproject/private/
/Nueva Carpeta/clase_ejemplo/build/
/Nueva Carpeta/clase_ejemplo/dist/
/Nueva Carpeta/ejemplo_repor/nbproject/private/
/Nueva Carpeta/ejemplo_con/nbproject/private/
/Nueva Carpeta/ejemplo_con/build/
/Nueva Carpeta/libreria_sqlite/nbproject/private/
/Nueva Carpeta/libreria_sqlite/build/
/Nueva Carpeta/libreria_sqlite/dist/
/Nueva Carpeta/mi_proyecto/nbproject/private/
/Nueva Carpeta/mi_proyecto/build/
/Nueva Carpeta/clase_libreria/nbproject/private/
/Nueva Carpeta/clase_libreria/build/
/Nueva Carpeta/clase_libreria/dist/
